@import url('https://fonts.googleapis.com/css2?family=Coda+Caption:wght@800&family=Open+Sans:wght@300;400&display=swap');
:root {
    --headings: 'Coda Caption', sans-serif;
    --bodyFont: 'Open Sans', sans-serif;
    --fontSize: 16px;
    --transition: .3s ease;
    --lightgray: #f6f6f6;
    --white: #fff;
    --black: #1e1e1e;
    --primary: #3a8bcd;
    --gray: #6c757d;
    --text: #4a4a4a;
    --borders: #eeeeee;
}
/*****************
basic styles
*****************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--bodyFont);
    font-size: var(--fontSize);
    color: var(--text);
    line-height: 1.6;
}
h1,h2,h3,h4,h5,h6 {
    font-family: var(--headings);
}
a {
    text-decoration: none;
    color: var(--primary);
}
a:hover {
    transition: var(--transition);
}
ul {
    list-style-type: none;
}
.active {
    color: var(--primary);
}
.container {
    width: 70%;
    margin: auto;
    padding: 100px 0;
}
button {
    padding: 15px 40px;
    margin-top: 25px;
    font-size: 1rem;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
    transition: var(--transition);
}
h2 {
    font-size: 1.5rem;
}
h2::before {
    display: block;
    content: "";
    width: 40px;
    height: 3px;
    background: var(--primary);
    margin-bottom: 10px;
}
/*****************
topbar
*****************/
.topbar {
    text-align: center;
    border-top: 5x solid var(--primary);
    border-bottom: 1px solid var(--lightgray);
    padding: 20px 0;
}
.topbar a {
    font-size: 2rem;
}
.topbar a:hover {
    color: var(--text);
}
.topbar a i {
    font-size: 2.5rem;
    color: var(--text);
}
/*****************
nav
*****************/
nav {
    text-align: center;
    padding: 15px 0;
}
nav ul {
    display: flex;
    justify-content: center;
}
nav ul li a {
    margin: 0 30px;
    text-transform: uppercase;
    color: var(--black);
}
/*****************
header
*****************/
header {
    background-image: url(../img/header.jpg);
    background-position: top;
    background-size: cover;
    padding: 200px 0;
}
header article {
    width: 30%;
    background: rgba(255,255,255,.7);
    margin-left: 15%;
    padding: 40px;
}
header h3::after {
    display: block;
    content: "";
    height: 2px;
    width: 40px;
    background: var(--primary);
    margin: 30px 0;
}
header h3 {
    font-size: 1.5rem;
}
header button {
    background: var(--primary);
    border: none;
    color: var(--white);
}
header button:hover{
    background: var(--black);
}
/*****************
featuredItems
*****************/
.owl-carousel .item {
    border: 1px solid var(--borders);
    padding: 30px;
    border-radius: 5px;
    transition: var(--transition);
}
.owl-carousel .item:hover {
    border: 1px solid var(--primary);
}
/*****************
subscribe
*****************/
.subscribe {
    text-align: center;
    background: var(--primary);
    color: var(--white);
}
.subscribe h3{
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: var(--black);
}
.subscribe p {
    margin-bottom: 20px;
}
.subscribe input {
    padding: 10px;
    border-radius: 5px;
    color: var(--white);
}
.subscribe input[type="email"] {
    background: transparent;
    border: 1px solid var(--white);
}
.subscribe input[type="submit"] {
    background: var(--white);
    color: var(--black);
    cursor: pointer;
}
.subscribe input[type="submit"]:hover {
    background: var(--black);
    color: var(--white);
}
/*****************
footer
*****************/
footer {
    text-align: center;
}
footer h3 a {
    font-size: 1.7rem;
}
footer h3 a:hover {
    color: var(--text);
}
footer h3 a i {
    color: var(--text);
}
footer nav a {
    margin: 0 30px;
}
footer .icons a i {
    font-size: 1.5rem;
    transition: var(--transition);
    color: var(--black);
    margin: 0 10px;
}
footer .icons a i:hover {
    color: var(--primary);
}
footer article:last-child {
    border-top: 1px solid var(--lightgray);
    padding: 15px 0;
}
/*****************
single
*****************/
.single article {
    display: flex;
    justify-content: space-between;
}
.single article div img {
    max-width: 100%;
}
.single article div:first-child {
    flex: 0 0 39%;
}
.single article div:last-child {
    flex: 0 0 55%;
}
.single div img {
    border: 1px solid var(--primary);
}